<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://fapexerciceynscommandes.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/62cb4c48-dc89-41bd-85c8-6d33018d6711/resourceGroups/formationYohan/providers/Microsoft.Web/sites/fapExerciceYNSCommandes</ResourceId>
    <UserName>$fapExerciceYNSCommandes</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://fapexerciceynscommandes.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>